body {
	background: #f8f8a9;
	background: -webkit-linear-gradient(to right, #7468e0, #f8f8a9);
	background: linear-gradient(to right, #7468e0, #f8f8a9);
	font-family: 'Bangers', cursive;
	color: #6f6f6f;
	margin: 0;
}

.deck {
	margin: 15px;
	width: 90%;
	height: 300px;
	position: relative;
	perspective: 1000px;
	border-radius: 5px;
}

.card-p {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 5px;
}

.back {
	overflow: hidden;
	z-index: -1;
	display: block;
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	box-sizing: border-box;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.back:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.front, .back {
	background-color: #eee;
	transition: all 0.5s linear;
}

.front {
	z-index: 1;
}

.flipped, .hovercard:hover {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.pokemon-bg {
	width: 100%;
	height: 230px;
	background-image: url("../logo.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40%;
	margin: 0 auto;
}

.pokemons {
	display: block;
	margin: 0 auto;
}

.poke-card {
	background-color: #eee;
	border-radius: 5px;
	padding: 13px;
	text-align: center;
	height: 100%;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.poke-card .img-container {
	background-color: rgba(255, 255, 255, 0.6);
	align-content: center;
	align-items: center;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 160px;
	height: 160px;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 0 7px -6px black;
}

.poke-card .img-container img {
	max-height: 100%;
	max-width: 100%;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	-o-transform: scale(0.7);
	transform: scale(0.7);
}

.poke-card .info {
	margin-top: 20px;
	text-align: center;
}

.poke-card .info button {
	display: block;
	width: 100px;
	margin: 0 auto 15px auto;
}

.poke-card .number {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.poke-card .name {
	margin: 15px 0 7px;
	letter-spacing: 1px;
}

@keyframes bounce {
	10% {
		transform: translateY(-35px);
	}
	15% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-15px);
	}
	30% {
		transform: translateY(0px);
	}
	50% {
		transform: rotateZ(10deg);
	}
	60% {
		transform: rotateZ(-10deg);
	}
	70% {
		transform: rotateZ(10deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

@keyframes shadow {
	10% {
		transform: scaleX(0.6);
	}
	15% {
		transform: scaleX(1);
	}
	25% {
		transform: scaleX(0.8);
	}
	30% {
		transform: scaleX(1);
	}
	50% {
		transform: translateX(5px);
	}
	60% {
		transform: translateX(-5px);
	}
	70% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0px);
	}
}

.loader {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12121996;
}

.loader .pokeball-container {
	height: 150px;
	position: relative;
	width: 150px;
}

.loader .pokeball-container::after {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: shadow;
	animation-timing-function: ease-in-out;
	background-color: #320a0a;
	border-radius: 50%;
	bottom: -5px;
	content: "";
	height: 10px;
	left: 30px;
	position: absolute;
	width: 90px;
	z-index: -1;
}

.loader .pokeball-container .text {
	text-align: center;
	margin-top: 15px;
	font-size: 25px;
	color: #000000;
}

.loader .pokeball-container .pokeball {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: bounce;
	animation-timing-function: ease-in-out;
	height: 100%;
	position: relative;
	transform-origin: bottom center;
	width: 100%;
}

.loader .pokeball-container .pokeball::after {
	border-color: black;
	border-radius: 50%;
	border-style: solid;
	border-width: 3px;
	background: linear-gradient(0deg, white 0%, #fffefe 49.5%, black 49.5%, black 51.5%, #f4001f 51.5%, red 100%);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.loader .pokeball-container .pokeball::before {
	border-radius: 50%;
	border: 3px solid black;
	background: radial-gradient(circle, white 0%, white 40%, black 40%, black 60%, white 60%, white 100%);
	content: "";
	height: 30px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	z-index: 1;
}

.pure-material-button-contained {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 0 16px;
	min-width: 64px;
	height: 36px;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	color: white;
	background-color: #727272;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	font-size: 20px;
	font-weight: 500;
	line-height: 36px;
	overflow: hidden;
	outline: none;
	cursor: pointer;
	transition: box-shadow 0.2s;
}

.pure-material-button-contained::-moz-focus-inner {
	border: none;
}

/* Overlay */
.pure-material-button-contained::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(255, 255, 255);
	opacity: 0;
	transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	border-radius: 50%;
	padding: 50%;
	width: 32px; /* Safari */
	height: 32px; /* Safari */
	background-color: rgb(255, 255, 255);
	opacity: 0;
	transform: translate(-50%, -50%) scale(1);
	transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
	opacity: 0.08;
}

.pure-material-button-contained:focus::before {
	opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
	opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
	opacity: 0.32;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
	color: rgba(0, 0, 0, 0.38);
	background-color: rgba(0, 0, 0, 0.12);
	box-shadow: none;
	cursor: initial;
}

.pure-material-button-contained:disabled::before {
	opacity: 0;
}

.pure-material-button-contained:disabled::after {
	opacity: 0;
}

.modal-title {
	font-size: 28px;
	#color: #776cde;
}

.modal .btn-primary {
	background-color: #776cde;
	border-color: #776cde;
}

.modal img {
	max-height: 100%;
	max-width: 100%;
	transform: scale(0.7);
}

.error-title {
	color: red;
	font-family: fantasy;
}

.error-messages {
	color: red;
	font-family: fantasy;
}


.list-elem label {
	font-size: 24px;
}

.toast-header .mr-2 {
	font-size: 22px;
}

.b-toast .toast .toast-body {
	font-size: 20px;
}

.pokemon-pagination .prev-button {
	position: absolute;
	top: 50%;
	left: -10%;
	font-size: 35px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.pokemon-pagination .next-button.disabled {
	pointer-events: none;
	opacity: 0.4;
}

.pokemon-pagination .prev-button.disabled {
	pointer-events: none;
	opacity: 0.4;
}

.pokemon-pagination .next-button {
	position: absolute;
	top: 50%;
	right: -10%;
	font-size: 35px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
